@model DBLibrary.Models.UserInfo

@if (Model.IsVerified)
{
    <a href="#" class="btn SH-btn w-100"><i class="fa fa-check pr-3"></i>  Verified</a>
}
else
{
    <a href="#" class="btn SH-btn w-100" style="background-color:red;"><i class="fa fa-times pr-3"></i> Not Verified</a>
}
