@model  IEnumerable<DBLibrary.ComentPlaces_Tbl>
@if (Model != null)
{
    foreach (var comment in Model)
    {
<div class="single-review-area">
    <div class="reviewer-meta d-flex align-items-center">
        <img src="~/Users/Img/@comment.AspNetUser.Image" alt="">
        <div class="reviewer-content">
            <div class="review-title-ratings d-flex justify-content-between">
                
                <div class="ratings">
                    @for (int i = 0; i < 5; i++)
                    {
                        if (i < (int)comment.SingleEvaluation)
                        {
                          <img src="~/Theme/img/clients-img/star-fill.png" alt=""> }
                        else
                        {
                            <img src="~/Theme/img/clients-img/star-unfill.png" alt="">
                        }
                    }
          

                </div>
            </div>
            <p>@comment.Comment</p>
        </div>
    </div>
    <div class="reviewer-name">
        <h6>@comment.AspNetUser.RealUserName</h6>
        <p>@comment.DateTime</p>
    </div>
</div>}
            }
