
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="breadcumb-area bg-img bg-overlay" style="background-image: url(../../Theme/img/bg-img/Rudnik.jpg)">
</div>

<h2>About</h2>

