@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<div class="breadcumb-area bg-img bg-overlay" style="background-image: url(../../Theme/img/bg-img/Rudnik.jpg)">
</div>
<div class="container-fluid">
    <div class="container">

        <div class="contact-form" style="margin:50px auto;">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <div>
                <p>
                    Please check your email to reset your password.
                </p>
            </div>
        </div>
    </div>
</div>
